@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Sarala:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Peralta&family=Sarala:wght@400;700&display=swap');


:root{
    --verde: rgb(0, 153, 153)
}

body{
    background-color: rgb(235, 242, 248);
}
h2{
    position: relative;
    top:-20px;
}

p{
    margin: -5px;
}

ul{
    position: relative;
    left: -40px;
    top: -5px;
    display: flex;
    list-style-type: none;


}
.logo{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 15px;
}
.farma{
    font-family: "Peralta", serif;
    text-decoration: none;
    color: rgb(197, 130, 130);
    position: absolute;

}
.busca{
    font-family: "Peralta", serif;
    text-decoration: none;
    color: rgb(197, 130, 130);
    position: absolute;
    top: 30px;
}
.titulo{
    font-size: 35px;
    position: absolute;
    top: 20px;
    left: 100px;

}


.typebox{
    background-color: rgb(211, 219, 219);
    padding: 10px;
    border: none;
    border-radius: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 300px;
}

.typebox::placeholder{
    font-family: "Sarala", sans-serif;
    position: absolute;
    left: 10px;
    top: 10px;
}

.b-cadastro{
    background-color: #cee3c5;
    border: none;
    border-radius: 40px;
    width: 250px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 1050px;
}
.b-cadastro:hover{
    background-color: #acc6ac;
}

.cadastro-txt{
    font-family: "Sarala", sans-serif;
    position: absolute;
    top: 43px;
    left: 1115px;
}

.icon-cadastro{
    width: 70px;
    height: 40px;
    position: absolute;
    top: 35px;
    left: 1050px;

}

.b-salvos{
    background-color:  #cee3c5;
    border: none;
    border-radius: 40px;
    width: 180px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 1320px;
    
}
.b-salvos:hover{
    background-color:#acc6ac;
}

.icon-salvos{
    width: 70px;
    height: 55px;
    position: absolute;
    top: 28px;
    left: 1320px;
}

.salvos-txt{
    font-family: "Sarala", sans-serif;
    position: absolute;
    top: 43px;
    left: 1385px;
}


.Inicio{
    font-family: "Sarala", sans-serif;
    position: absolute;
    top: 125px;
    left: 60px;
    text-decoration: none;
    color: white;
}
.Categorias{
    font-family: "Sarala", sans-serif;
    position: absolute;
    top: 125px;
    left: 150px;
    text-decoration: none;
    color: white;
}



.fundo-navbar{
    display: flex;
    padding: 30px;
    width: 1455px;
    position: absolute;
    top: 120px;
    left: 1px;
    background-color:var(--verde);
}

.fundo-header{
    display: flex;
    padding: 65px;
    width: 500px;
    position: absolute;
    top: 1px;
    left: 1000px;
    background-color: rgb(240, 232, 232);
}






.blur-bg-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: none;
    backdrop-filter: blur(2px);
    transition: 0.1s ease;
}

.form-login{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    height: 400px;
    background: white;
    border-radius: 30px;
    transform: translate(-50%, -100%);
    animation: slideup 0.2s linear forwards;

}
@keyframes slideup{
    100%{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


.bg-login{
    padding: 50px;
    width: 400px;
    position: absolute;
    top: -1px;
    border: none;
    border-radius: 30px;
    background-color: rgb(197, 130, 130);
}
.bg-login2{
    padding: 20px;
    width: 460px;
    position: absolute;
    top: 75px;
    border: none;
    background-color: white;
}


.form-login .close-btn {
    font-family: "Sarala", sans-serif;
    position: absolute;
    top: 10px;
    left: 470px;
    border: none;
    background-color:  rgb(197, 130, 130);
    color: dimgray;
    cursor: pointer;
}

.form-login .tela-login {
    display: flex;
}

.tela-login h2{
    font-family: "Gidole", sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}


.tela-login .form-content {
    width: 100%;
    padding: 35px;

}

form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    outline: none;
    border-radius: 3px;
    padding: 3px;
}

.input-field input:focus{
    border-color:rgb(0, 149, 255);
}


form .input-field label{
    position: absolute;
    top: 5%;
    left: 15px;
    color: darkgray;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-field input:is(:focus, :valid) ~ label{
    color: rgb(0, 149, 255);
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.tela-login a:hover {
    text-decoration: underline;
}

.esqueceu-senha{
    text-decoration: none;
    position: relative;
    top: 10px;

}
.botao-link-cadastrar{
    position: relative;
    top: 55px;
    
}
form button {
    width: 100%;
    position: relative;
    top: 35px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    cursor: pointer;
    color: white;
    background: rgb(83, 155, 232);
}







.form-cadastro{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    height: 400px;
    background: white;
    border-radius: 30px;
    transform: translate(-50%, -100%);
    animation: slideup 0.2s linear forwards;
}

@keyframes slideup{
    100%{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.bg-login{
    padding: 50px;
    width: 400px;
    position: absolute;
    top: -1px;
    border: none;
    border-radius: 30px;
    background-color: rgb(197, 130, 130);
}
.bg-login2{
    padding: 20px;
    width: 460px;
    position: absolute;
    top: 75px;
    border: none;
    background-color: white;
}


.form-cadastro .close-btn {
    font-family: "Sarala", sans-serif;
    position: absolute;
    top: 10px;
    left: 470px;
    color: dimgray;
    cursor: pointer;
}

.form-cadastro .tela-cadastro {
    display: flex;
}

.tela-cadastro h2{
    font-family: "Gidole", sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}


.tela-cadastro .form-content {
    width: 100%;
    padding: 35px;

}

form .input-field{
    font-family: "Sarala", sans-serif;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    outline: none;
    border-radius: 3px;
    padding: 3px;
}

.input-field input:focus{
    border-color:rgb(0, 149, 255);
}


form .input-field label{
    position: absolute;
    top: 5%;
    left: 15px;
    color: darkgray;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-field input:is(:focus, :valid) ~ label{
    color: rgb(0, 149, 255);
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.tela-cadastro a:hover {
    text-decoration: underline;
}

.botao-link-cadastrar{
    position: relative;
    top: 55px;
    
}

form button {
    width: 100%;
    position: relative;
    top: 35px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    cursor: pointer;
    color: white;
    background: rgb(83, 155, 232);
}


@media (max-width> 500px){
        .form-login{
            width: 95%;
        }
        .form-box .form-content{
            padding: 30px 20px;
        }
}









.rodape{
    display: flex;
    padding: 50px;
    width: 1420px;
    position: absolute;
    top: 1005px;
    left: 1px;
    background-color:var(--verde);
}
.nossa-rede-txt{
    font-family: "Sarala", sans-serif;
    color: white;
    position: absolute;
    top: 1020px;
    left: 40px;
}
.logo-instagram{
    width: 60px;
    height: 30px;
    position: absolute;
    top: -5px;
    left: -55px;
}
.link_instagram{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 1030px;
    left: 100px;

}
.contato-txt{
    font-family: "Sarala", sans-serif;
    color: white;
    position: absolute;
    top: 1030px;
    left: 200px;

}
.email-contato{
    font-family: "Sarala", sans-serif;
    color: white;
    position: absolute;
    top: 1050px;
    left: 200px;

}
.txt-farmabusca-rodape{
    font-family: "Sarala", sans-serif;
    color: white;
    position: absolute;
    top: 1050px;
    left: 1360px;
}